/*폰트 설정*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/*body 설정*/
body {
    font-family: "Noto Sans KR", sans-serif !important;
    height: 100%;
} 

/*header 설정*/
#header {
    width: 100%;
    height: 853px;
}

/*headerlogo*/
#logo {
    position: absolute;
    width: 250px;
    height: 48.81px;    
    top: 50.6px;
}
#logo_txt {
    display: inline-block;
    position: absolute;
    width: 67px;
    height: 27px;
    left: 70%;
    top: 72px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;


    color: #7C655A;
}
#head_tit {
    position: absolute;
    width: 350px;
    height: 150px;
    left: 820px;

    background: #FFFFFF;
}

/*navbar*/
.navbar {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 156px;
    text-align: center;

    background: #411500;
}
.nav-item {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    margin-right: 90px;
    margin-left: 50px;
}

/*swiper*/
#carouselExampleIndicators {
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0;
    top: 235px;
}

.carousel-indicators {
    position: relative;
    top: 510px;
    height: 15px !important;
   
}

.carousel-indicators > li {
    border-radius: 50%;
    margin-right: 22px !important;
    width: 15px !important;
    height: 15px !important;
}

#indi_cont {
    background-color: #411500;
}

.control_prev {
    position: absolute;
    left: 370px;
    width: 70px;
    height: 70px;
}

#control_img{

    width: 70px;
    height: 70px;
}

#prev_img {
    position: relative;
    top: -52px;
    right: 1px;
}

.control_next {
    position: absolute;
    right: 370px;
    width: 70px;
    height: 70px;
}


#next_img {
    position: relative;
    top: -52px;
    left: 1px;
}

/*haderline*/
#header_line {
    position: absolute;
    width: 100%;
    height: 23px;
    left: 0px;
    top: 830px;
}

/*main 설정*/
body{
    background-color: #FFF9EF;
}
/*킹콩이벤트*/
.event .title{
    /*타이틀 여백*/
    margin: 200px auto 100px auto;
}

p.title{
    /*타이틀 (PHOTO에도 적용됨)*/
    text-align: center;
    font-size: 40px;
    color: #411500;
    font-weight: 700;
}  
p.title span{
    color: #E77E02;
}
p.title:after {
    /*타이틀 밑 짧은 밑줄*/
    content: "";
    display: block;
    width: 52px;
    border-bottom: 3px solid #E77E02;
    margin: 15px auto;
}

.event .imgs img{
    /*이미지들 여백*/
    padding: 0px 40px 78px 0px;
}

.event{
    /*이미지들 가운데 정렬*/
    width: 100%;
    text-align: center;
}
.event .imgs{
    display: inline-block;

    /*포스터 텍스트에 필요*/
    position: relative;
}
.event .imgs div{
    position: absolute; 
    top: 320px; 
}
.event .imgs p{
    text-align: left;
}

.event_info{
    /*이벤트 더보기 상자*/
    margin:  0 auto;
    width: 250px;
    height: 60px;
    border: 2px solid #411500;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}
.event_info a{
    color: #411500;
    text-decoration: none;
}
/*//킹콩이벤트*/

 /*PHOTO*/
.photo{
    margin-bottom: 500px;
}
.photo .title{
     /*타이틀 여백*/
     margin: 340px auto 80px auto;
}
 .photo .imgs{
     /*이미지 가운데 정렬*/
     width: 100%;
     text-align: center;
 }
 .photo .imgs .imgs_r img{
     display: inline-block;
     padding: 0px 27.1px 27.1px 0px;
 }
 /*//PHOTO*/
/*//main 설정*/

/*footer 설정*/
#wrap_foot {
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 372px;
}
#footer{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

/*footerline*/
#footer_line{
    position: absolute;
    width: 100%;
    height: 23px;
    left: 0px;
    bottom: 349px;
}

/*footer content*/
#foot_left {
    background-color: #F8B62C;
    position: absolute;
    width: 50%;
    height: 349px;
    left: 0px;
    bottom: 0;
}
#foot_right {
    background-color: #FFF9EF;
    position: absolute;
    width: 50%;
    height: 349px;
    right: 0;
    bottom: 0;
}

/*footer left cont*/
#fl_tit {
    position: absolute;
    width: 126px;
    height: 27px;
    left: 604px;
    bottom: 264px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #411500;
}
#fl_cont1 {
    text-align: right;
    display: inline-block;
    position: absolute;
    width: 69px;
    height: 145px;
    right: 420px;
    bottom: 70px;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    color: #FFF9EF;
}
#fl_cont2 {
    text-align: left;
    display: inline-block;
    position: absolute;
    width: 235px;
    height: 145px;
    right: 131px;
    bottom: 70px;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    color: #FFF9EF;
}
#fl_line {
    position: absolute;
    width: 1px;
    height: 135px;
    right: 391px;
    bottom: 75px;
}
#fline {
    width: 1px;
    height: 12px;
    margin-bottom: 32px;
}

/*footer right cont*/
#fr_tit {
    position: absolute;
    width: 36px;
    height: 27px;
    left: 258px;
    bottom: 264px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #411500;
}
#fr_wrap {
    position: absolute;
    width: 350px;
    height: 50px;
    left: 148px;
    bottom: 134px;
}
#fr_cont {
    display: inline-block;
    margin-right: 50px;
}
#fr_cont img {
    width: 50px;
    height: 50px;
}